* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
    cursor: pointer;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.container:after {
	content: '';
	clear: both;
	display: table;
}

.active {
	color: #f62b0a;
}

.btn-red {
	padding: 19px 30px 21px;
	font-size: 14px;
	color: #fff;
	background: #f72b0c;
}


/* header */

header .container-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 45px 80px;
}

header .container-menu .menu-right {
	display: flex;
	align-items: center;
	justify-content: center;
}

header .container-menu .menu-right .box-link {
	border-right: 2px solid #868686;
}

header .container-menu .menu-right .box-icon {
	margin-left: 30px;
}

header .container-menu .menu-right .box-link ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

header .container-menu .menu-right .box-link ul li a {
	margin-left: 15px;
	color: #868686;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 500;
}

header .container-menu .menu-right .box-link ul li a:last-child {
	padding-right: 20px;
}

header .container-menu .menu-right .box-link ul li:last-child {
	padding-right: 20px;
}

header .container-menu .menu-right .box-link ul li a:hover {
	text-decoration: none;
	color: #f62b0a;
}

header .container-menu .menu-right .box-icon i {
	cursor: pointer;
}


/* fine header */


/* main */


/* Hero section */

main #hero {
	background: url("../img/slider-1-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

main #hero .container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

main #hero .container .box-hero .box-title p {
	font-size: 55px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

main #hero .container .box-hero .box-title h1 {
	font-size: 85px;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

main #hero .container .box-hero .box-text {
	display: flex;
	justify-content: center;
}

main #hero .container .box-hero .box-text p:nth-child(3) {
	margin: 0 30px;
}

main #hero .container .box-hero .box-text p:first-child {
	margin-right: 30px;
}

main #hero .container .box-hero .box-text p:last-child {
	margin-left: 30px;
}

main #hero .container .box-hero .box-text p {
	font-size: 16px;
	text-transform: uppercase;
}

main #hero .container .box-hero .box-btn {
	margin-top: 20px;
}

main #hero .container .box-hero .box-btn .btn {
	text-transform: uppercase;
	letter-spacing: 2px;
}


/* fine hero */


/* questions */

main #question .container {
	padding: 60px;
}

main #question .container .main-box {
	position: relative;
}

main #question .container .main-box .box-icon {
	position: absolute;
}

main #question .container .main-box .box-icon i {
	font-size: 25px;
	color: #c6c1bd;
}

main #question .container .main-box .box-right {
	margin-left: 50px;
}

main #question .container .main-box .box-right .box-title h2 {
	margin-bottom: 20px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

main #question .container .main-box .box-right .box-text p {
	margin-bottom: 20px;
	font-size: 13px;
	font-weight: 500;
	color: #c6c1bd;
	letter-spacing: 1px;
}

main #question .container .main-box .box-right .box-link a {
	font-style: italic;
	font-size: 14px;
	letter-spacing: 1px;
	color: #bf351f;
	text-decoration: none;
}


/* fine question*/


/* counter */

main #counter {
	background: url("../img/coutdown-bg1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	color: #fff;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main #counter .container .box-counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main #counter .container .box-counter .box-hours {
	display: flex;
	justify-content: center;
	align-items: center;
}

main #counter .container .box-counter .box-hours .day {
	margin: 0 20px;
	padding: 25px;
	background: #040404;
	opacity: 0.80;
	text-align: center;
	border-radius: 10px;
}

main #counter .container .box-counter .box-hours .hours,
.minutes,
.seconds {
	margin: 0 20px;
	padding: 25px;
	background: #040404;
	opacity: 0.70;
	text-align: center;
	border-radius: 10px;
}

main #counter .container .box-counter .box-hours .day p {
	margin: 0 auto;
}

main #counter .container .box-counter .box-hours .day p:first-child {
	font-size: 51px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 5px;
}

main #counter .container .box-counter .box-hours .day p:last-child {
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
}

main #counter .container .box-counter .box-hours .hours p {
	margin: 0 auto;
}

main #counter .container .box-counter .box-hours .hours p:first-child {
	font-size: 51px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 5px;
	padding: 0 20px;
}

main #counter .container .box-counter .box-hours .hours p:last-child {
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
}

main #counter .container .box-counter .box-hours .minutes p {
	margin: 0 auto;
}

main #counter .container .box-counter .box-hours .minutes p:first-child {
	font-size: 51px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 5px;
	padding: 0 20px;
}

main #counter .container .box-counter .box-hours .minutes p:last-child {
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
}

main #counter .container .box-counter .box-hours .seconds p {
	margin: 0 auto;
}

main #counter .container .box-counter .box-hours .seconds p:first-child {
	font-size: 51px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 5px;
	padding: 0 20px;
}

main #counter .container .box-counter .box-hours .seconds p:last-child {
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
}

main #counter .container .box-counter .box-title h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 45px auto;
	letter-spacing: 4px;
	color: #040404;
	opacity: 0.70;
}

main #counter .container .box-counter .box-input .current-input {
	padding: 18px 2%;
	width: 360px;
	margin-right: 10px;
	font-size: 13px;
	max-width: 96%;
}

main #counter .container .box-counter .box-input .btn-red {
	padding: 15px 30px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

main #counter .container .box-counter .box-input .btn-red:hover {
	color: #ffffff;
}


/* fine counter */


/* speakers */

main #speakers {
	padding: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3f3f3;
}

main #speakers .col-lg-12 .box-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main #speakers .col-lg-12 .box-top .box-title h2 {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 4px;
	color: #040404;
}

main #speakers .col-lg-12 .box-top {
	margin-bottom: 50px;
}

main #speakers .col-lg-12 .box-top .box-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

main #speakers .col-lg-12 .box-top .box-icon i {
	padding: 10px 15px;
	background: red;
	border-radius: 5px;
	color: #ffffff;
}

main #speakers .col-lg-12 .box-top .box-icon i:first-child {
	margin-left: 10px;
}

main #speakers .col-lg-12 .box-top .box-icon i:first-child {
	margin-left: 10px;
}

main #speakers .col-lg-3 .box-bottom {
	text-align: center;
	display: block;
}

main #speakers .col-lg-3 .box-bottom .box-img {
	position: relative;
	overflow: hidden;
	text-align: center;
}

main #speakers .col-lg-3 .box-bottom .box-img img {
	width: 100%;
	border-radius: 8px;
}

main #speakers .col-lg-3 .box-bottom .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f62b0a;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	display: none;
}

main #speakers .col-lg-3 .box-bottom .box-img:hover .icon {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	display: flex;
	border-radius: 8px;
	opacity: 0.7;
}

main #speakers .col-lg-3 .box-bottom .icon i {
	color: #ffffff;
	font-size: 20px;
}

main #speakers .col-lg-3 .box-bottom .box-title h3 {
	color: #403d3b;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

main #speakers .col-lg-3 .box-bottom .box-text p {
	color: #403d3b;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 1px;
}


/* fine speaker */


/* program */

main #program {
	padding-top: 120px;
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main #program .col-lg-12 .box-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

main #program .col-lg-12 .box-top .box-left {
	display: flex;
	align-items: center;
}

main #program .col-lg-12 .box-top .box-left h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}

main #program .col-lg-12 .box-top .box-left p {
	margin: 0 0 0 60px;
	font-size: 14px;
	color: #c6c1bd;
}

main #program .col-lg-12 .box-top .box-right a {
	text-decoration: none;
	color: #f62b0a;
	font-style: italic;
	letter-spacing: 1px;
}

main #program .col-lg-12 .box-bottom .box-menu {
	display: flex;
	align-items: center;
	background: #f62b0a;
	color: #ffffff;
}

main #program .col-lg-12 .box-bottom .box-menu .box-text:first-child {
	background: #bf351f;
}

main #program .col-lg-12 .box-bottom .box-menu .box-text {
	padding: 12px 20px;
	border-right: 1px solid grey;
	width: 190px;
}

main #program .col-lg-12 .box-bottom .box-menu .box-text p {
	margin: 0 auto;
}

main #program .col-lg-12 .box-bottom .box-menu .box-text p:first-child {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
}

main #program .col-lg-12 .box-bottom .box-menu .box-text p:last-child {
	color: #ffffff;
	font-weight: 300;
	text-transform: capitalize;
	font-size: 14px;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom {
	padding: 50px;
	color: #c6c1bd;
	background: #F7F7F7;
	display: flex;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .col-lg-3 i {
	font-weight: bold;
	margin-right: 10px;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .col-lg-3 span {
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .col-lg-3 .box-text-bottom span {
	color: #f62b0a;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .box-text-center {
	margin: 20px auto;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .box-img img {
	width: 45px;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .box-text-main .box-title h3 {
	color: #515151;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 22px;
	letter-spacing: 2px;
}

main #program .col-lg-12 .box-bottom .box-bottom-bottom .box-text-main .box-text p {
	color: #c6c1bd;
	font-size: 14px;
}


/* fine program */


/* maps */


/* fine maps */


/* location */

main #location {
	background: url("../img/location-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 60px;
}

main #location .col-lg-12 {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

main #location .box-title h2 {
	font-size: 37px;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 4px;
}

main #location .box-text .box-title-center h3 {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

main #location .box-text p {
	font-size: 14px;
	font-weight: 300;
}

main #location .box-text p:before {
    content: '\f124';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    font-size: 10px;
}

main #location .box-link a{
    color: #bf351f;
    text-decoration: none;
    font-size: 14px;
}

main #location .box-link {
    margin-bottom: 25px;
}

main #location .box-bottom .box-img img {
    width: 70%;
}

main #location .box-bottom .box-link a{
    margin-right: 15px;
    color: #ffffff;
    font-weight: 300;
}

main #location .box-bottom .box-link a:first-child:before{
    content: '\f879';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    font-size: 12px;
}

main #location .box-bottom .box-link a:last-child:before{
    content: '\f0e0';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    font-size: 12px;
}
/* fine locatione */
/* news */

main #news {
    padding: 50px;
}

main #news .col-lg-12 .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

main #news .col-lg-12 .box-top .box-title h2{
    font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 4px;
}

main #news .col-lg-12 .box-top .box-link a{
    color: #f62b0a;
    text-transform: capitalize;
    font-style: italic;
    font-size: 14px;
}

main #news .col-lg-4 .box-card .box-img {
    position: relative;
}

main #news .col-lg-4 .box-card .box-img img{
    width: 100%;
}

main #news .col-lg-4 .box-card .box-img .stiky{
    background: #040404;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

main #news .col-lg-4 .box-card .box-img .stiky p{
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main #news .col-lg-4 .box-card .box-img .stiky p:before{
    content: '\f0a1';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    font-size: 12px;
}

main #news .col-lg-4 .box-card .box-text .data {
    margin-top: 20px;
}

main #news .col-lg-4 .box-card .box-text .data p{
    margin: 0 auto;
    color: #c6c1bd;
    font-size: 14px;
    font-style: italic;
}

main #news .col-lg-4 .box-card .box-text .title h4{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 5px;
}

main #news .col-lg-4 .box-card .box-text .body p{
    font-size: 12px;
    color: #c6c1bd;
    margin: 20px auto;
}

main #news .col-lg-4 .box-card .box-text .link a{
    font-size: 12px;
    color: #f62b0a;
    text-transform: capitalize;
    font-style: italic;
    cursor: pointer;
}
/* fine news */
/* tickets */

main #tickets {
    padding-top: 100px;
    padding-bottom: 60px;
    background: url("../img/ticket-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
}

main #tickets .col-lg-12 .box-title {
    margin-bottom: 60px;
}

main #tickets .col-lg-12 .box-title h2 {
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 4px;
    color: #ffffff;
    text-align: center;
}

main #tickets .col-lg-4 .box-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

main #tickets .col-lg-4 .box-card .header {
    padding: 25px;
    background: #e9e9e9;
    width: 100%;
    position: relative;
    overflow: hidden;
}

main #tickets .col-lg-4 .box-card .header .feautured {
    padding: 5px;
    background: #f62b0a;
    position: absolute;
    top: 71px;
    right: -20px;
    text-align: center;
    width: 130px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
}

main #tickets .col-lg-4 .box-card .header .feautured p {
    color: #ffffff;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
}

main #tickets .col-lg-4 .box-card .header h4 {
    color: #272727;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    margin: 0 auto;
}

main #tickets .col-lg-4 .box-card .header p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    color: #f62b0a;
}

main #tickets .col-lg-4 .box-card .body {
    padding: 25px;
    background: #f9f9f9;
    width: 100%;
}

main #tickets .col-lg-4 .box-card .body ul li {
    margin-bottom: 13px;
    font-size: 15px;
    font-style: italic;
    color: #8b8b8b;
}

main #tickets .col-lg-4 .box-card .body ul li:first-child {
    margin-top: 13px;
}

main #tickets .col-lg-4 .box-card .footer {
    padding: 15px;
    background: #f62b0a;
    width: 100%;
}

main #tickets .col-lg-4 .box-card .footer a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

main #tickets .col-lg-4 .box-card .footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
/* fine tickets */
/* presentation e twitter */

main #presentation {
	padding: 80px;
}

main #presentation .box-presentation .box-title h2 {
	font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
	margin-bottom: 40px;
}

main #presentation .box-presentation .box-video {
	display: flex;
	justify-content: center;
	position: relative;
}

main #presentation .box-presentation .box-video .box-play {
	position: absolute;
    left: 20px;
    top: 80%;
}

main #presentation .box-presentation .box-video .box-play i {
	color: white;
    background: black;
    padding: 13px 28px;
    border-radius: 5px;
    opacity: 0.80;
	cursor: pointer;
}

main #presentation .box-presentation .box-video .bgvid {
	width: 80%;
}

main #presentation .box-twetter .box-title h2 {
	font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
	margin-bottom: 40px;
}

main #presentation .box-twetter .twetter-card {
	position: relative;
}

main #presentation .box-twetter .box-text {
	margin-left: 40px;
}

main #presentation .box-twetter .box-text p {
	font-size: 14px;
    color: #c6c1bd;
}

main #presentation .box-twetter .box-text a {
	color: #f62b0a;
	text-decoration: none;
	font-weight: 300;
}

main #presentation .box-twetter .box-icon {
	position: absolute;
	top: 5px;
}

main #presentation .box-twetter .box-icon i {
	color: #47BDEE;
	font-size: 20px;
}

main #presentation .box-twetter .box-date {
	margin-left: 40px;
}

main #presentation .box-twetter .box-date p {
    font-size: 12px;
    font-style: italic;
	color: #b1b1b1;
}
/* fine presentation e twitter */
/* sponsor */

main #sponsor {
	padding-top: 80px;
	padding-bottom: 70px;
	background: #F6F6F6;
}

main #sponsor .box-text {
	text-align: center;
}

main #sponsor h2 {
	font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
	margin-bottom: 40px;
}

main #sponsor p {
	font-size: 14px;
    color: #c6c1bd;
	margin-bottom: 50px;
}

main #sponsor .box-img-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main #sponsor .box-img-main img{
	width: 100%;
}
/* fine sponsor */
/************ fine main */

/* footer */

footer {
	background: #272727;
	color: white;
}

footer .container:first-child {
	padding: 50px 0;
	font-size: 14px;
	color: #c6c1bd;
	font-weight: 400;
}

footer .container:first-child .box-title h4 {
	font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
	color: #ddd;
}

footer .container:first-child .box-text p {
	color: #bfbfbf;
	font-weight: 300;
	margin-bottom: 25px;
	line-height: 25px;
}

footer .container:first-child .box-icon i {
	color: #fff;
	font-size: 19px;
	margin-right: 10px;
}

footer .container:first-child .col-lg-3:nth-child(2) .box-text p {
	color: #bfbfbf;
	font-weight: 200;
	margin-bottom: 20px;
	line-height: 15px;
	text-transform: uppercase;
	font-size: 12px;
}

footer .container:first-child .col-lg-3:nth-child(2) .box-text p:before {
	content: '>';
	margin-right: 15px;
}

footer .container:first-child .col-lg-3:nth-child(3) .box-btn .btn {
	padding: 10px 30px 10px;
}

footer .container:first-child .col-lg-3:last-child .box-img img{
	width: 50px;
	margin: 3px 3px;
}

footer .container-fluid {
	width: 100%;
	background: #161616;
	color: #c6c1bd;
	font-weight: 300;
	font-size: 14px;
	padding: 30px 0;
}

footer .container-fluid .box-bottom {
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 80%;
	margin: 0 auto;
}

footer .container-fluid .box-bottom p, ul{
	margin: 0 auto;
	opacity: 0.70;
}

footer .container-fluid .box-bottom ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .container-fluid .box-bottom ul li a{
	margin-right: 10px;
	color: #c6c1bd;
	font-weight: 300;
	font-size: 14px;
	transition: 0.5s;
}

footer .container-fluid .box-bottom ul li a:hover {
	color: white;
	font-weight: 500;
	transition: 0.5s;
	text-decoration: none;
}

